<article class="intro stack">
  <h1>
    <a href="/">Hi, I'm Choa</a>
  </h1>
  <p>Welcome to my personal corner of the internet. In case you're wondering it's pronounced "cho-ah".<p>
  <p>I work as a front-end software engineer in the LA area.</p>
</article>
