body {
  font-family: 'Lato', sans-serif;
}

footer {
  padding: 1.5rem 0;
}

ul {
  padding: 0;
}

li::marker {
  content: none;
}

body, main, .layout {
  display: flex;
  flex-direction: column;
}

main, .layout {
  flex: auto;
}

h1,
h2,
h3,
p,
nav {
  font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
  );
}

h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1.1;
}

h1 {
  --fluid-type-min: 2.5rem;
  --fluid-type-max: 5rem;
  --fluid-type-target: 5vw;

  max-width: 15ch;
}

h2 {
  --fluid-type-min: 1.8rem;
  --fluid-type-max: 3rem;
}

h3 {
  --fluid-type-min: 1.5rem;
  --fluid-type-max: 2.5rem;
}

h2,
h3 {
  font-weight: 900;
  max-width: 30ch;
}

p {
  max-width: 60ch;
}

h1 a {
  text-decoration: none;
}

a {
  color: currentColor;
}

ul {
  margin: 0;
  padding: 0;
}

article > * {
  max-width: 60ch;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.layout {
  max-width: 65rem;
  margin-inline: auto;
  padding: 0 1.5rem;
}

.intro {
  padding: 1.5rem 0;
  border-bottom: 1px dotted;
}

.stack > * + * {
  margin-top: 1em;
}

.feed__item {
  padding: 1.5rem 0;
}

.feed__item + .feed__item {
  margin-top: 0.5em;
}

.footer-nav-links {
  display: flex;
  justify-content: center;
}

.footer-nav-links > * + *::before {
  content: '|';
  padding: 0 0.5rem;
}

.footer-nav-link {
  display: flex;
}

.post {
  flex: auto;
  padding: 1.5rem;
}