<footer>
  <div class="layout">
    <nav>
      <ul class="footer-nav-links" role="list">
        <li class="footer-nav-link">
          <a href="/">Home</a>
        </li>
        <li class="footer-nav-link">
          <a href="https://github.com/mbchoa">GitHub</a>
        </li>
      </ul>
    <nav>
  </div>
</footer>
